<html>
  <head>
    <title>Triarius - File Uploader </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>

// Initialise DropZone form control
// dropzoneJsForm = the id of your dropzone form
Dropzone.options.dropzoneJsForm = {
    maxFilesize: 10, // Mb
    init: function () {
        // Set up any event handlers
        this.on('completemultiple', function () {
            location.reload();
        });
    }
};


    </script>

   <style>
   .test {
    width:800px;
    margin:auto;
    text-align:center;
    box-sizing:border-box;
    background-color:#99CCFF;
    border:2px solid black;
    font-family: 'Alegreya SC'; font-size: 22px;
   }
   .h3 {
    width:100px;
    margin: off;
   }
  </style>
  </head>
  <body>
      <table>
       <tr>
        <td>
            <img src="/upload/Triarius.jpg" stype="width: 64px">
        </td>
        <td>
            <p class="test">Triarius File Upload for DBTune Interview</p>
        </td>
       </tr>
      </table>
    <form action="{{ url_for('index') }}" class="dropzone" id="dropzone-example2">
    </form>
  </body>
  <hr>
    <h3>Uploads from other sessions:</h3> 
   {% for file in files %}
     <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
   {% endfor %}
</html>

